<div class="pointandclick">
    <div class="pointandclick-content">
        {{ exercise|safe }}
    </div>
    
    <div class="pointandclick-info">
        <div class="pointandclick-complete hide"
          data-msg-complete="Exercise finished."
          data-msg-complete-uploading="Exercise finished. Uploading your submission to the server..."
          data-msg-complete-uploaded="Exercise finished. Your submission has been uploaded to the server."
          data-msg-complete-error="Exercise finished, but your submission was not successfully uploaded to the server due to an error: ">
        </div>
        <div class="pointandclick-feedback"></div>
        <div class="pointandclick-clicksleftmsg hide"
            data-msg-plural="&lt;b&gt;{counter} more correct answers left!&lt;/b&gt;"
            data-msg-singular="&lt;b&gt;{counter} more correct answer left!&lt;/b&gt;">
        </div>
        <div class="pointandclick-points hide"
            data-msg-final="&lt;b&gt;You scored {score}&nbsp;%.&lt;/b&gt;&lt;br/&gt;">
          Correct: <span class="pointandclick-correct-clicks"></span><br/>
          Wrong: <span class="pointandclick-wrong-clicks"></span><br/>
        </div>
    </div>
</div>

