<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Point-and-click final feedback</title>
  <base href="{{ serverUrl|safe }}">
  {{ headContent|safe }}
  <link href="/static/pointandclick/feedback.css" rel="stylesheet">
  <script src="/static/pointandclick/jquery.min.js"></script>
  <script type="text/javascript">
    window.pointandclick = {{ payload|safe }};
  </script>
  <script src="/static/pointandclick/feedback.js"></script>
</head>
<body>

<div class="pointandclick">
    
    <div class="pointandclick-content">
        {{ exercise|safe }}
    </div>
    
    <div class="pointandclick-info">
        <div class="pointandclick-feedback"></div>
        <div class="pointandclick-points">
          <b>You scored {{ score }}%.</b><br>
          Correct: {{ correctAnswers }}<br>
          Wrong: {{ incorrectAnswers }}<br>
        </div>
    </div>
</div>

</body>
</html>

