* {
  font-family: "Monospace", Lucida;
}

.pointandclick-error {
}

.clickable {
  /* clickable spaces between words should not be collapsed (zero width, unclickable) at the end of lines */
  white-space: pre-wrap;
}

.clickable:visited, {
  color: red;
}
    
.clickable:hover {
  color: blue;
  background: #eee;
  cursor: pointer;
}

.pointandclick-feedback, .pointandclick-complete {
  padding: 1em;
}

.correct {
  background: #cfc;
}

.wrong {
  background: #fcc;
}

.neutral {
  background: #ccf;
}

.hide {
  display: none;
}
