.pointandclick .exercise {
  cursor: pointer;
}

/* J-M added */
.pointandclick .clickable:visited, {
  color: red;
}

* {
  font-family: "Monospace", Lucida;
}
    
.pointandclick .clickable:hover {
  color: blue;
  text-decoration: underline;
}

.pointandclick .feedback {
  padding: 1em;
}

.pointandclick .feedback.correct {
  background: #cfc;
}

.pointandclick .feedback.wrong {
  background: #fcc;
}
