* {
  font-family: monospace, Lucida;
}

.pointandclick-error {
}

.clickable {
  /* clickable spaces between words should not be collapsed (zero width, unclickable) at the end of lines */
  white-space: pre-wrap;
}

.clickable:visited, {
  color: red;
}
    
.clickable:hover {
  color: blue;
  background: #eee;
  cursor: pointer;
}

.pointandclick-content {
  margin-bottom: 160px; /* must match the height of the fixed position element .pointandclick-info */
}

.pointandclick-info {
  position: fixed;
  bottom: 0px;
  width: 98%;
  background-color: rgb(242, 242, 242);
  max-height: 160px;
  overflow-y: scroll;
}

.pointandclick-feedback, .pointandclick-complete {
  padding: 1em;
}

.correct {
  background: #cfc;
  border: solid 2px green;
}

.wrong {
  background: #fcc;
}

.neutral {
  background: #ccf;
}

.hide {
  display: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: black;
  background-color: #f9f2f4;
  border-radius: 4px;
}
